*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(20deg, rgba(255, 0, 0, 1) 26%, rgba(17, 29, 56, 1) 69%);
}

.card{
    max-width: 600px;
    width: 90%;
    margin: 100px auto 0;
    background-color: #fff;
    outline: 0;
    padding: 30px;
    border-radius: 1rem;
}

.card h1{
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.Quiz-section{
    padding: 1rem 0;
}

.Quiz-section h2 {
    padding: 1.5rem;
    font-weight: 600;
}